<div class="container">
  <div class="row">
    <div class="col-12 user__wrapper d-flex flex-column justify-content-center align-items-center">
      <div routerLink="/users" class="return hover-pointer d-flex flex-row justify-content-start">
        <svg-icon src="assets/icons/return.svg" [svgStyle]="{ 'width.px':30, 'heigth.px':30 }"></svg-icon>
        <span>Назад</span>
      </div>
      <span class="title">Добавить нового пользователя</span>
      <app-user-add-form></app-user-add-form>
      <div class="row d-flex flex-row justify-content-center">
        <button class="gov-button">Добавить</button>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
