<div class="container">
  <div class="row oms" *ngIf="isOms">
    <div class="col-12">
      <div class="white-container d-flex flex-column">
        <div class="container pt-none">
          <div class="row">
            <div class="col-3 d-sm-none d-md-block d-xl-block col-xl-3 col-md-1">

            </div>
            <div class="pt-none col-6 col-sm-12 col-xl-6 col-md-10 px-5">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_7.svg" [svgStyle]="{ 'width.px':56, 'heigth.px':64 }"></svg-icon>
                <div class="d-flex flex-column justify-content-center">
                  <span class="card__title">Количество МО в системе</span>
                  <span class="card__subtitle head">260</span>
                </div>
              </div>
            </div>
            <div class="col-3 d-sm-none col-xl-3 col-md-1">

            </div>
          </div>
          <div class="row card__col-labels">
            <div class="col-5 d-flex justify-content-center">
              <span>Сдавшие:</span>
            </div>
            <div class="col-2">

            </div>
            <div class="col-5 d-flex justify-content-center">
              <span>Не сдавшие:</span>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-md-6 col-xl-5">
              <div class="card w-100 d-flex align-items-center flex-row">
                <svg-icon src="assets/icons/mainPage/main_8.svg" [svgStyle]="{ 'width.px':40, 'heigth.px':40 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Окончательные счета:</span>
                  <span class="card__title">10</span>
                </div>
              </div>
            </div>
            <div class="col-xl-2 d-xl-block d-md-none"></div>
            <div class="col-5 col-md-6 col-xl-5">
              <div class="card w-100 d-flex align-items-center flex-row">
                <svg-icon src="assets/icons/mainPage/main_9.svg" [svgStyle]="{ 'width.px':34, 'heigth.px':34 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Окончательные счета:</span>
                  <span class="card__title">10</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin">
            <div class="col-5 col-md-6 col-xl-5">
              <div class="card w-100 d-flex align-items-center flex-row">
                <svg-icon src="assets/icons/mainPage/main_10.svg" [svgStyle]="{ 'width.px':40, 'heigth.px':40 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Окончательные счета:</span>
                  <span class="card__title">10</span>
                </div>
              </div>
            </div>
            <div class="col-xl-2 d-xl-block d-md-none"></div>
            <div class="col-5 col-md-6 col-xl-5">
              <div class="card w-100 d-flex align-items-center flex-row">
                <svg-icon src="assets/icons/mainPage/main_11.svg" [svgStyle]="{ 'width.px':34, 'heigth.px':34 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Окончательные счета:</span>
                  <span class="card__title">10</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!isOms && !isAdmin">
    <div class="col-12">
      <div class="white-container d-flex flex-column">
        <span>Счет 11.2021</span>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-xl-4 col-lg-6">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_1.svg" [svgStyle]="{ 'width.px':48, 'heigth.px':50 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Вид</span>
                  <span class="card__title">Окончательный</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4 col-lg-6">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_2.svg" [svgStyle]="{ 'width.px':54, 'heigth.px':54 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Статус</span>
                  <span class="card__title">В обработке</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isAdmin">
    <div class="col-12">
      <div class="white-container d-flex flex-column">
        <span>Счет 11.2021</span>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-xl-4 col-lg-6">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_1.svg" [svgStyle]="{ 'width.px':48, 'heigth.px':50 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Вид</span>
                  <span class="card__title">Окончательный</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4 col-lg-6">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_2.svg" [svgStyle]="{ 'width.px':54, 'heigth.px':54 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Статус</span>
                  <span class="card__title">В обработке</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-xl-4 col-lg-6">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_3.svg" [svgStyle]="{ 'width.px':48, 'heigth.px':50 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Предъявленная сумма</span>
                  <span class="card__title">1 000 000 руб.</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4 col-lg-6">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_4.svg" [svgStyle]="{ 'width.px':54, 'heigth.px':54 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Доля МУВР</span>
                  <span class="card__title">10 000 руб.</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4 col-lg-6">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_5.svg" [svgStyle]="{ 'width.px':54, 'heigth.px':54 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Санкции МЭК</span>
                  <span class="card__title">10 000 руб.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!isAdmin">
    <div class="col-12">
      <div class="white-container d-flex flex-column">
        <span>Информация о предъявленной к оплате сумме</span>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-xl-4 col-lg-6">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_3.svg" [svgStyle]="{ 'width.px':34, 'heigth.px':40 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Предъявленная сумма</span>
                  <span class="card__title">1 000 000 руб.</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4 col-lg-6">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_4.svg" [svgStyle]="{ 'width.px':49, 'heigth.px':49 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Доля МУВР</span>
                  <span class="card__title">10 000 руб.</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4 col-lg-6">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_5.svg" [svgStyle]="{ 'width.px':56, 'heigth.px':39 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Санкции МЭК</span>
                  <span class="card__title">10 000 руб.</span>
                </div>
              </div>
            </div>
            <div *ngIf="isOms" class="col-12 file_label">
              <span>
                Количество файлов в очереди обработки:
              </span>
            </div>
            <div *ngIf="isOms" class="col-12 col-xl-6 col-lg-6 file left">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_12.svg" [svgStyle]="{ 'width.px':41, 'heigth.px':52 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Окончательные:</span>
                  <span class="card__title">2</span>
                </div>
              </div>
            </div>
            <div *ngIf="isOms" class="col-12 col-xl-6 col-lg-6 file right">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_13.svg" [svgStyle]="{ 'width.px':41, 'heigth.px':52 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Предварительные:</span>
                  <span class="card__title">1</span>
                </div>
              </div>
            </div>
            <div *ngIf="!isOms" class="col-12 col-xl-8">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_6.svg" [svgStyle]="{ 'width.px':46, 'heigth.px':40 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__subtitle">Информация о прикрепленном населении:</span>
                  <span class="card__title">1 000 человек.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isOms">
    <div class="col-12">
      <div class="white-container d-flex flex-column">
        <span>Информация о статусе загрузки МУВР и санкций от СМО</span>
        <div class="container">
          <div class="row">
            <div class="col-12 col-xl-6 file left">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_14.svg" [svgStyle]="{ 'width.px':68, 'heigth.px':68 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__title">МУВР</span>
                  <span class="card__subtitle">Статус</span>
                  <span class="card__title__light">В обработке</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-6 file left">
              <div class="card w-100 d-flex flex-row">
                <svg-icon src="assets/icons/mainPage/main_15.svg" [svgStyle]="{ 'width.px':68, 'heigth.px':68 }"></svg-icon>
                <div class="d-flex flex-column">
                  <span class="card__title">Санкции СМО</span>
                  <span class="card__subtitle">12.12.2021</span>
                  <span class="card__title__light">Загружен</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container__white">
  <div class="row">
    <div class="col-12 d-flex flex-column align-items-center">
      <span>Навигация</span>
    </div>
  </div>
  <div class="row d-flex flex-row justify-content-center" style="gap: 28px">
    <div *ngIf="isAdmin" routerLink="/permissions" style="max-width: 327px; min-height: 164px" class="card-light h-100 w-100 d-flex flex-row">
      <svg-icon src="assets/icons/mainPage/nav_3.svg" [svgStyle]="{ 'width.px':78, 'heigth.px':78 }"></svg-icon>
      <div class="d-flex flex-column">
        <span class="card__subtitle">Администрирование</span>
        <span class="card__title">Управление разрешениями и пользователями</span>
      </div>
    </div>
    <div style="max-width: 327px; min-height: 164px" class="card-light h-100 w-100 d-flex flex-row">
      <svg-icon src="assets/icons/mainPage/nav_1.svg" [svgStyle]="{ 'width.px':63, 'heigth.px':80 }"></svg-icon>
      <div class="d-flex flex-column">
        <span class="card__subtitle">Отчеты</span>
        <span class="card__title">Сводно-аналитические формы</span>
      </div>
    </div>
    <div routerLink="/upload" style="max-width: 327px; min-height: 164px" class="card-light h-100 w-100 h-100 d-flex flex-row">
      <svg-icon src="assets/icons/mainPage/nav_2.svg" [svgStyle]="{ 'width.px':56, 'heigth.px':80 }"></svg-icon>
      <div class="d-flex flex-column">
        <span class="card__subtitle">Загрузка файлов</span>
        <span class="card__title">Просмотр и загрузка документов</span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid sources">
  <div class="row">
    <div class="col-12 d-flex flex-column align-items-center">
      <span>Информационные ресурсы:</span>
    </div>
  </div>
  <div class="row" *ngFor="let item of resources">
    <div class="col-2">

    </div>
    <div class="col-2" *ngFor="let subitem of item">
      <a [href]="subitem.link">
        <div class="card-light img icon-item w-100 d-flex flex-row" [style.background-image]="'url(' + 'https://users.3dcafe.ru/upload/' + subitem.file.fileName + ')'">

        </div>
      </a>
    </div>
    <div class="col-2">

    </div>
  </div>
</div>
