<div class="container">
  <div class="row">
    <div class="col-12 profile__wrapper d-flex flex-column justify-content-center align-items-center">
      <span>Информация о пользователе</span>
      <div class="table">
        <div class="container-fluid p-0">
          <div class="row m-0">
            <div class="col-5">
              <span>ФИО</span>
            </div>
            <div class="col-7">
              <span>{{(storage.user$ | async)?.secondName || ''}} {{(storage.user$ | async)?.firstName || ''}} {{(storage.user$ | async)?.patronymic || ''}}</span>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-5">
              <span>Дата рождения</span>
            </div>
            <div class="col-7">
              <span>{{(storage.user$ | async)?.dateBirth | date: 'dd.MM.yyyy'}}</span>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-5">
              <span>Организация</span>
            </div>
            <div class="col-7">
              <span>ТФОМС</span>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-5">
              <span>Структурное подразделение</span>
            </div>
            <div class="col-7">
              <span>Руководство</span>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-5">
              <span>Должность</span>
            </div>
            <div class="col-7">
              <span>Начальник управления</span>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-5">
              <span>Электронная почта</span>
            </div>
            <div class="col-7">
              <span>{{(storage.user$ | async)?.email}}</span>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-5">
              <span>Номер телефона</span>
            </div>
            <div class="col-7">
              <span>+7-(999)-999-9999</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
