<div class="container">
  <div class="row">
    <div class="col-12 user__wrapper d-flex flex-column justify-content-center align-items-center">
      <span>Управление пользователями</span>
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <input class="gov-input w-100" placeholder="Поиск"/>
          </div>
          <div class="offset-4 col-5">
            <button routerLink="/users/add" class="gov-button_light w-100">Добавить нового пользователя</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
