.gov-input {
  background-image: url("/assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 3% 50%;
  padding-left:30px;
}
.container {
  height: 80%;
  .row:nth-child(1) {
    height: 15%;
  }
  .row:nth-child(2) {
    height: 70%;
  }
  .row:nth-child(3) {
    height: 15%;
  }
}
.user__wrapper {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 37px 50px;
  margin: 62px 0px;
  border-radius: 20px;
  span {
    &:nth-child(1) {
      font-size: 18px;
      color: #202022;
      font-family: GolosRegular, sans-serif;
      line-height: 1em;
      margin-bottom: 24px;
    }
    font-family: GolosRegular, sans-serif;
    font-size: 18px;
    color: #a7a7ab;
  }
}
