<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="user__wrapper d-flex flex-column justify-content-center align-items-center">
        <span>Управление пользователями</span>
        <div class="d-flex w-100 flex-row align-items-center justify-content-between">
          <input placeholder="Поиск" class="gov-input"/>
          <button routerLink="/users/add" class="gov-button_light">Добавить нового пользователя</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
