<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <span class="text-label">
      Портал участника системы ОМС Территориального фонда обязательного медицинского страхования Республики Дагестан
    </span>
  </div>
  <div class="row">
    <div class="col-12 auth-form__wrapper d-flex flex-column justify-content-center align-items-center">
      <span>АВТОРИЗАЦИЯ</span>
      <span>Пожалуйста, авторизуйтесь для получения доступа.</span>
      <input class="gov-input"/>
      <button class="gov-button_light" disabled>Продолжить</button>
    </div>
  </div>
  <div class="row"></div>
</div>
