.reset {
  color: #0050B2 !important;
  font-family: GolosRegular, sans-serif !important;
  font-size: 14px !important;
  text-decoration: underline;
}
::ng-deep {
  .d-container svg {
    fill: #636363 !important;
  }
  .d-container mat-dialog-container {
    background-color: #FFE1E1 !important;
    padding: 10px !important;
  }
}
.dialog {
  & {
    min-width: 600px;
  }
  .error {
    color: #FF0000;
    font-size: 24px;
    font-family: GolosRegular, sans-serif;
    margin-bottom: 30px;
  }
  .desc {
    color: black;
    font-size: 24px;
    font-family: GolosRegular, sans-serif;
    margin-bottom: 30px;
  }
}
.container {
  height: 80%;
  .row:nth-child(1) {
    height: 15%;
  }
  .row:nth-child(2) {
    height: 70%;
  }
  .row:nth-child(3) {
    height: 15%;
  }
}
.auth-form__wrapper {
  form {
    width: 360px;
    margin-top: 32px;
    button {
      margin-top: 30px;
    }
  }
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 60px 0;
  margin-top: 47px;
  border-radius: 20px;
  > span:nth-child(1) {
    font-weight: 700;
    font-size: 42px;
    color: #202022;
    font-family: GolosBold, sans-serif;
    line-height: 1em;
  }
  span {
    font-family: GolosRegular, sans-serif;
    font-size: 18px;
    color: #a7a7ab;
  }
}
