.card-wrapper {
  margin-bottom: 25px;
}
.cardRows {
  .col-3 {
    margin-top: 20px;
  }
}
.card {
  padding: 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.dialog {
  .link {
    input {
      width: 330px;
    }
    margin-top: 20px;
    margin-bottom: 44px;
    span {
      color: #76767a;
      font-size: 18px;
    }
  }
  .filePicker {
    mat-icon {
      margin-left: 50px;
    }
    .fileName {
      width: fit-content;
      span:nth-child(1) {
        color: #002CC7;
        font-family: GolosRegular, sans-serif;
        font-size: 18px;
      }
      span:nth-child(2) {
        color: #A7A7AB;
        font-family: GolosRegular, sans-serif;
        font-size: 12px;
      }
    }
    img {
      width: fit-content;
    }
    margin-top: 40px;
    button {
      width: fit-content;
    }
    span {
      color: #76767A;
      font-family: GolosRegular, sans-serif;
    }
  }
  & {
    min-width: 600px;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div > span {
    width: fit-content;
    font-family: GolosRegular, sans-serif;
    font-size: 18px;
    color: black
  }
}
.container {
  min-height: calc(100vh - 354px);
}
.container-white {
  .button_container {
    margin-top: 45px;
  }
  margin: 62px 0;
  padding: 37px 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: white;
  .label {
    color: #333333;
    font-family: GolosRegular, sans-serif;
    font-size: 18px;
  }
  .white__container {
    gap: 16px;
    margin-top: 14px;
    span {
      color: #76767a;
      font-size: 18px;
      font-family: GolosRegular, sans-serif;
    }
  }
  .file-uploaded__container {
    mat-icon {
      margin-left: 70px;
    }
    gap: 10px;
    margin-top: 44px;
    .file-name {
      span:nth-child(1) {
        color: #002CC7;
        font-family: GolosRegular, sans-serif;
        font-size: 18px;
      }
      span:nth-child(2) {
        color: #A7A7AB;
        font-family: GolosRegular, sans-serif;
        font-size: 12px;
      }
    }
  }
}
